.footer{
  background-image: linear-gradient(#505877, #2a2f42);
  height: 150px;
  width: 100%;
  display: table;
  position: absolute;
  bottom: 0;
}

.footer__text{
  text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}