.weather-more-data{
  display: grid;
  grid-gap: 20px;
  margin-top: 25px;
  padding-left:20px;
  padding-right:5px;
  font-size: 1.25rem;
  text-align: left;
  animation: slide 1s;
  opacity: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-top: -300px;
  }
  50%{
    opacity: 0;
  }
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  
}