.weather-table{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-top: 50px;
}

.weather-container{
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 200px;
}
